In [12]:
import requests
import pandas as pd
import numpy as np
import io
import plotly.express as px

In [3]:
temperature_file_url = 'https://sites.ecmwf.int/data/c3sci/bulletin/202407/temperature/timeseries_era5_monthly_2t_global_allmonths_up_to_july_2024.csv'

In [55]:
urlData = requests.get(temperature_file_url).content
df = pd.read_csv(io.StringIO(urlData.decode('utf-8')), skiprows=11)
df

           month     2t  clim_91-20  ano_91-20  offset_pi  ano_pi
0     1940-01-01  11.50       12.44      -0.95       0.96    0.01
1     1940-02-01  11.87       12.73      -0.86       0.96    0.10
2     1940-03-01  12.52       13.41      -0.89       0.95    0.06
3     1940-04-01  13.76       14.36      -0.61       0.91    0.30
4     1940-05-01  14.75       15.26      -0.52       0.87    0.35
...          ...    ...         ...        ...        ...     ...
1010  2024-03-01  14.14       13.41       0.73       0.95    1.68
1011  2024-04-01  15.03       14.36       0.67       0.91    1.58
1012  2024-05-01  15.91       15.26       0.65       0.87    1.52
1013  2024-06-01  16.66       15.98       0.67       0.83    1.50
1014  2024-07-01  16.91       16.23       0.68       0.80    1.48

[1015 rows x 6 columns]

In [61]:
df_clean = df.copy()
df_clean['month'] = pd.to_datetime(df_clean['month'])
df_clean['year'] = df_clean['month'].dt.year
df_clean['month'] = df_clean['month'].dt.month

# Pivot the DataFrame
pivot_df = df_clean.pivot(index='month', columns='year', values='ano_pi')

# Rename columns to month names if desired

year_strings = [str(year) for year in range(1940, 2025)]

pivot_df.columns = year_strings
pivot_df.index = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
pivot_df
#pivot_df.to_csv('../data/global_temperatures/monthly_air_temperature_anomaly.csv')

KeyError: 'date'